<h2>Reiniciar el password</h2>
<p>Ingrese la nueva contraseña</p>
<form method="post" action="http://localhost:8080/api/sessions/resetPassword?token={{token}}">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="contraseña" name="newPassword"/>
    <br/><br/>
    <button type="submit">Reestablecer contraseña</button>
</form>
<hr>
<a href="/">
    <button>inicio</button>
</a>